In [28]:
#Tasca M5 T01 Enric Sena alvarez
import pandas as pd
  
df = pd.read_csv('Lligues.csv', index_col=0, sep=';', encoding='latin-1')

,Squad,Country,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/G,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper
Rk,,,,,,,,,,,,,,,,,,,,
1,Manchester City,ENG,1,37,28,6,3,96,24,72,90,2.43,86.1,26.8,59.3,1.60,W W W W D,52739,Kevin De Bruyne - 15,Ederson
2,Liverpool,ENG,2,36,26,8,2,89,24,65,86,2.39,84.6,33.1,51.4,1.43,W W W D W,53367,Mohamed Salah - 22,Alisson
3,Real Madrid,ESP,1,37,26,7,4,80,31,49,85,2.30,73.0,45.8,27.2,0.73,W W L W D,40624,Karim Benzema - 27,Thibaut Courtois

In [38]:
#Exercici 1
#Com que no se ben bé que vol que testi l'enunciat, vaig a suposar que les varaibles són valors de mostres i per tant puc comparar columnes entre elles.

#Vaig a sel·leccionar la columna MP per mirar si segueix una distribució normal i per fer-ho realitzaré el test de shapiro-wilk.
from scipy.stats import shapiro
data=df["MP"]
p=shapiro(data)
print(p)
#Com que veiem que el p-valor ens surt molt inferior a 0.05 que és el nivell de significació, podem rebutjar H0 que és la hipòtesi més conservadora i la qual diu que les dades segueixen una distribució normal i per tant podem dir amb un 95% de certesa que les dades no són normals. 
#També podriem entendre el p-valor com la probabilitat que realitzant el test moltes vegades, ens sortis una vegada no-significatiu, és a dir ens sortis que les dades segueixen una distribució normal quan realment no és així. ( hauriem de realitzar el test d'hipòtesi unes 1/p-valor que surt que caldría fer el test 129059835248847.11 vegades.)

ShapiroResult(statistic=0.6051993370056152, pvalue=7.748343999291855e-15)

129059835248847.11

In [41]:
#Exercici 2 
#Vaig a comparar si les mitjanes de les columnes W i D són iguales.
#Per realitzar-ho duré a terme un t.test
from scipy.stats import ttest_ind
data1=df["W"]
data2=df["D"]
p=ttest_ind(data1,data2)
print(p)
# També ens surt un p-valor inferior al nivell de significació i per tant podem rebutjar que les mitjanes de les dues columnes siguin iguals i per tant podem dir amb una certesa del 95% que les mitjanes de les columnes W i D són diferents.

Ttest_indResult(statistic=6.212285255919629, pvalue=3.118924391860533e-09)

In [43]:
#Exercici 3
#Per comparar més de 2 grups es fa servir el test ANOVA (Analysis of variance) el qual ens compara si les mitjanes dels 3 grups que volem comparar són iguals.
from scipy.stats import f_oneway
data1=df["GF"]
data2=df["GA"]
data3=df["GD"]
p=f_oneway(data1,data2,data3)
print(p)
#Altre cop obtenim un p-valor molt petit i per tant podem afirmar al 95% que les mitjanes dels 3 grups són diferents

F_onewayResult(statistic=221.0569025766639, pvalue=4.1114170239876985e-59)