In [29]:
#Tasca M10 T01  Enric Sena Alvarez

In [30]:
# Exercici 1
# Utilitzant Beautiful Soup
import requests
from bs4 import BeautifulSoup

URL="http://quotes.toscrape.com/"
page= requests.get(URL)
soup=BeautifulSoup(page.content,"html.parser")

results=soup.find(itemprop="text")
results

URL="https://www.bolsasymercados.es/bme-exchange/es/Bolsa-Madrid"
page= requests.get(URL)
soup=BeautifulSoup(page.content,"html.parser")
results2=soup.find('p').getText()
results2

URL="https://es.wikipedia.org/wiki/Anexo:Cet%C3%A1ceos_de_Canarias"
page= requests.get(URL)
soup=BeautifulSoup(page.content,"html.parser")
results3=soup.find('p').getText()
results3

'Las islas Canarias, situadas en la región subtropical del Atlántico presentan unas peculiares características oceanográficas y geomorfológicas que permiten la existencia de representantes de la una gran variedad de Cetáceos tanto residentes como de paso. Al menos 30 especies de ellos, han sido identificadas. Este conjunto de especies convierten a las islas en uno de los lugares del mundo con mayor diversidad de cetáceos y el mayor de Europa.\n'

In [31]:
# Exercici 1
# Amb selenium:

In [32]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
from selenium.webdriver.common.by import By

driver =webdriver.Chrome("chromedriver")
driver.get("https://quotes.toscrape.com/")
elem=driver.find_elements(By.CLASS_NAME, 'text')
elem

elem_list=[]
for e in range(len(elem)):
    elem_list.append(elem[e].text)
elem_list

['“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
 '“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
 '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
 '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
 "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
 '“Try not to become a man of success. Rather become a man of value.”',
 '“It is better to be hated for what you are than to be loved for what you are not.”',
 "“I have not failed. I've just found 10,000 ways that won't work.”",
 "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
 '“A day without sunshine is like, you know, night.”']

In [33]:
driver =webdriver.Chrome("chromedriver")
driver.get("https://www.bolsamadrid.es")
elem=driver.find_elements(By.TAG_NAME, 'p')
elem

elem2_list=[]
for e in range(len(elem)):
    elem_list.append(elem[e].text)
elem2_list

[]

In [34]:

driver =webdriver.Chrome("chromedriver")
driver.get("https://es.wikipedia.org/wiki/Soyuz_MS-10")
elem=driver.find_elements(By.TAG_NAME, 'p')
elem

elem3_list=[]
for e in range(len(elem)):
    elem_list.append(elem[e].text)
elem3_list

[]

In [35]:
#Exercici 2:
#Només puc fer el dataset amb les frases del 1r exemple:
#Primer aconseguiré els autors de cada frase:

driver =webdriver.Chrome("chromedriver")
driver.get("https://quotes.toscrape.com/")
autor=driver.find_elements(By.CLASS_NAME, 'author')
autor

autor_list=[]
for e in range(len(autor)):
    autor_list.append(autor[e].text)
autor_list

['Albert Einstein',
 'J.K. Rowling',
 'Albert Einstein',
 'Jane Austen',
 'Marilyn Monroe',
 'Albert Einstein',
 'André Gide',
 'Thomas A. Edison',
 'Eleanor Roosevelt',
 'Steve Martin']

In [36]:
data=list(elem_list[1:])
dataframe=pd.DataFrame(data,columns=['Frase'])
dataframe


df=pd.DataFrame(columns=['Frase','Autor'])
data_tuples = list(zip(elem_list[0:],autor_list[0:]))
temp_df =pd.DataFrame(data_tuples,columns=['Frase','Autor'])
temp_df

                                               Frase              Autor
0  “The world as we have created it is a process ...    Albert Einstein
1  “It is our choices, Harry, that show what we t...       J.K. Rowling
2  “There are only two ways to live your life. On...    Albert Einstein
3  “The person, be it gentleman or lady, who has ...        Jane Austen
4  “Imperfection is beauty, madness is genius and...     Marilyn Monroe
5  “Try not to become a man of success. Rather be...    Albert Einstein
6  “It is better to be hated for what you are tha...         André Gide
7  “I have not failed. I've just found 10,000 way...   Thomas A. Edison
8  “A woman is like a tea bag; you never know how...  Eleanor Roosevelt
9  “A day without sunshine is like, you know, nig...       Steve Martin

In [53]:
## Exercici 3
driver.get("https://www.habitaclia.com/alquiler-en-barcelones.htm")
casa=driver.find_elements(By.CLASS_NAME, 'list-item-content')
casa

casa_list=[]
for e in range(len(casa)):
    casa_list.append(casa[e].text)
casa_list



ubi=driver.find_elements(By.CLASS_NAME,'list-item-location')

ubi_list=[]
for i in range(len(ubi)):
    ubi_list.append(ubi[i].text)
ubi_list

caracteristiques=driver.find_elements(By.CLASS_NAME,'list-item-feature')

caract_list=[]
for n in range(len(caracteristiques)):
    caract_list.append(caracteristiques[n].text)
caract_list


preu=driver.find_elements(By.CLASS_NAME,'font-2')

preu_list=[]
for i in range(len(preu)):
    preu_list.append(preu[i].text)
preu_list

['2.600 €',
 '1.450 €',
 '1.600 €',
 '2.520 €',
 '3.016 €',
 '2.145 €',
 '2.075 €',
 '2.395 €',
 '1.600 €',
 '1.700 €',
 '2.125 €',
 '1.650 €',
 '2.600 €',
 '1.100 €',
 '1.500 €']

In [56]:

data = list(zip(casa_list[0:],ubi_list[0:],caract_list[0:],preu_list[0:]))
df =pd.DataFrame(data,columns=['Títol','Ubicació','Característiques','Preu'])
df

,Títol,Ubicació,Característiques,Preu
0,Alquiler Piso Adriano. Piso con 4 habitaciones...,Barcelona - Sant Gervasi - Galvany,"142m2 - 4 habitaciones - 2 baños - 18,31€/m2",2.600 €
1,Alquiler Ático Carrer del caire. Ático con 2 h...,Barcelona - Putget - Farró,"77m2 - 2 habitaciones - 2 baños - 18,83€/m2",1.450 €
2,Alquiler Piso Sicilia\nBarcelona - Sagrada Fam...,Barcelona - Sagrada Família,"70m2 - 2 habitaciones - 2 baños - 22,86€/m2",1.600 €
3,Alquiler Piso en Carrer de parcerisa. Piso con...,Barcelona - La Bordeta,"84m2 - 3 habitaciones - 2 baños - 30,00€/m2",2.520 €
4,Alquiler Piso en Calle espronceda 254. Piso co...,Barcelona - Sant Martí,"96m2 - 3 habitaciones - 2 baños - 31,42€/m2",3.016 €
5,Alquiler Piso en Carrer de parcerisa. Piso con...,Barcelona - La Bordeta,"59m2 - 2 habitaciones - 1 baño - 36,36€/m2",2.145 €
6,Alquiler Dúplex en Carrer de coll i pujol 17. ...,Badalona - Centre Badalona,"101m2 - 2 habitaciones - 1 baño - 20,54€/m2",2.075 €
7,Alquiler Piso en Carrer de parcerisa. Piso con...,Barcelona - La Bordeta,"59m2 - 2 habitaciones - 1 baño - 40,59€/m2",2.395 €
8,Alquiler Piso Can pujolet\nBarcelona - Font d´...,Barcelona - Font d´en Fargas,"79m2 - 2 habitaciones - 2 baños - 20,25€/m2",1.600 €
9,Alquiler Piso Carrer del consell de cent. Piso...,Barcelona - L'Antiga Esquerra de l'Eixample,"103m2 - 3 habitaciones - 1 baño - 16,50€/m2",1.700 €
10,Alquiler Piso en Carrer de parcerisa. Piso con...,Barcelona - La Bordeta,"59m2 - 2 habitaciones - 1 baño - 36,02€/m2",2.125 €
11,Alquiler Piso Carrer de breda. Piso con 4 habi...,Barcelona - Les Corts,"114m2 - 4 habitaciones - 2 baños - 14,47€/m2",1.650 €
12,Alquiler Piso Folgueroles. Piso con 4 habitaci...,Barcelona - Sant Gervasi - Bonanova,"139m2 - 4 habitaciones - 3 baños - 18,71€/m2",2.600 €
13,Alquiler Piso Carrer de la muntanya. Alquiler ...,Hospitalet de Llobregat (L´) - Sant Josep,"60m2 - 2 habitaciones - 1 baño - 18,33€/m2",1.100 €
14,Alquiler Piso en Carrer del consell de cent 32...,Barcelona - Dreta de l´Eixample,"110m2 - 2 habitaciones - 1 baño - 13,64€/m2",1.500 €

In [ ]:
## Amb Scrapy no aconsegueixo que funcioni.